<% provide(:title, 'Help') %>
<div class="center hero-unit">
  <h1>Welcome to the Rails App</h1>

  <h2>
    This is the help page for the
    <a href="http://google.com/">Twitter</a>
    Sample Application.
  </h2>

  <%= link_to "Sign up now!", new_user_path,
:class => "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("twit.jpeg"), 'http://www.google.com/' %>



