<% provide(:title, 'update') %><h1>user was successfully updated</h1>

<br>
<table border =4>
<tr><td><label>name :</label> </td><td><%= @user.name %></td></tr>
<tr><td><label>email id: </label></td> <td>
<%= @user.email %></td></tr></table>
<br>
<%= link_to 'Back', users_path %>
<%= link_to 'Edit',edit_user_path(@user) %>
