<h1>Post was successfully updated</h1>

<br>
<table border =4>
<tr><td><label>content :</label> </td><td><%= @post.content %></td></tr>
<tr><td><label>user id: </label></td> <td>
<%= @post.user_id %></td></tr></table>
<br>

